accelerate
safetensors
transformers
diffusers
controlnet-aux
tqdm
huggingface_hub
streamlit
watchdog
ftfy
--extra-index-url https://download.pytorch.org/whl/cpu
transformers
torch
torchvision
numpy
fire
pillow
numpy
einops
sentencepiece
protobuf
openvino
distro