# some issues reported with torch 2.4.0
accelerate==0.33.0
controlnet-aux==0.0.9
diffusers
einops==0.8.0
--extra-index-url https://download.pytorch.org/whl/cpu
fire==0.6.0
ftfy==6.2.3
huggingface_hub
numpy==1.26.4
--extra-index-url https://storage.openvinotoolkit.org/simple/wheels/pre-release
--extra-index-url https://storage.openvinotoolkit.org/simple/wheels/nightly
openvino_genai~=2025.1.0.0.dev
--extra-index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://storage.openvinotoolkit.org/simple/wheels/pre-release
--extra-index-url https://storage.openvinotoolkit.org/simple/wheels/nightly
openvino-tokenizers~=2025.1.0.0.dev
optimum-intel @ git+https://github.com/huggingface/optimum-intel.git@faeebf3416d17e3a6761db5f2e05569e0319311b
openvino
peft==0.12.0
pillow
protobuf==5.27.3
safetensors==0.4.4
sentencepiece==0.2.0
streamlit==1.37.1
torch
torchvision==0.18.1
tqdm==4.66.5
transformers==4.44.0
watchdog==4.0.2
