# some issues reported with torch 2.4.0
accelerate==0.33.0
controlnet-aux==0.0.9
diffusers
einops==0.8.0
--extra-index-url https://download.pytorch.org/whl/cpu
fire==0.6.0
ftfy==6.2.3
git+https://github.com/initml/diffusers.git@clement/feature/flash_sd3 
huggingface_hub
numpy==1.26.4
openvino==2024.3.0
peft==0.12.0
pillow==10.4.0
protobuf==5.27.3
safetensors==0.4.4
sentencepiece==0.2.0
streamlit==1.37.1
torch>=2.2.0,<2.4.0
torchvision
tqdm==4.66.5
transformers==4.44.0
watchdog==4.0.2
